


.number {
  font-size: 3em;
  padding-right: .4em;
  position: absolute;
  left: 0;
  line-height: 1.1;
  text-align: right;
  width: $spacing;
  @media (max-width: $bp-small) {
    position: relative;
    width: 100%;
    text-align: left;
  }
}
h1 {
  font-size: 3em;
  line-height: 1.1;
  margin-top: .1em;
}

img.rect, iframe {
  border-radius: 2px;
  display: block;
  margin-top: .5em;
  max-width: 100%;
  width: 600px;
}




