body {
	color: black; 
	font-family: 'WilsonTextAlt-RegularWeb', sans-serif;
	font-size: 16px;
}

a[href]:after {
	content: none !important;
}

img {
	display: block;
	max-width: 100%;
}

svg {
	fill: black;
}

iframe, 
.scroll-message {
	display: none;
}


body > section,
.segment {
	/*border-bottom: 1px solid $pp-blue;*/
	padding-top: 1em;
	padding-bottom: 1em;
	-webkit-font-smoothing: subpixel-antialiased;

	&:nth-of-type(4n) .section-title {
		color: $pp-purple !important;
	}
	&:nth-of-type(4n + 1) .section-title {
		color: $pp-blue !important;
	}
	&:nth-of-type(4n + 2) .section-title {
		color: $pp-red !important;
	}
	&:nth-of-type(4n + 3) .section-title {
		color: $pp-ltblue !important;
	}

}

.section-title {
	margin-bottom: .5em;
}

.stat-important {
	padding-top: 2em;
	padding-bottom: 2em;
}

.stat-table table,
.stat-table tr {
	border-color: gray !important;
}

.grid-4 .grid-item {
	clear: none !important;
	width: 25%;
	&:nth-of-type(4n + 1) {
		clear: both;

	}
}

.grid-5 .grid-item {
	clear: none !important;
	width: 20%;
	&:nth-of-type(5n + 1) {
		clear: both;

	}
}

.full {

}

.site-header {
	display: none;
}

#title {
	height: auto;

	#pwc-logo path {
		fill: $pp-blue;
	}


}

#title, 
#letter,
#fellows {
	page-break-after: always;
}

#jenny,
#taylor,
#stephanie,
#membership,
#administration,
#contributed-income,
#board,
#typeface,
#contributors,
#thanks {
	page-break-before: always;
}

#contributors li {
	font-size: .7em;
	width: 33.3333333%;

}

#thanks {
	.section-title {
		text-align: left;
	}

	.thanks-logo {
		width: 10em;

		#pwc-logo-thanks path {
			fill: black;
		}
	}
}



