doctype html
html

	include ./includes/head.jade

	body

		include ./includes/header.jade

		include ./includes/title.jade
		include ./includes/letter.jade

		include ./includes/artistic.jade
		include ./includes/membership.jade
		include ./includes/finance.jade
		include ./includes/administrative.jade

		include ./includes/scripts.jade




