html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #page {
  height: 100%;
  width: 100%;
}

body {
  background: $pp-blue;
  color: white;
	font-size: 1em;
	position: relative;

	@media (min-width: $bp-small) {
		font-size: 1.4rem;
	}

	@media (min-width: $bp-medium) {
		font-size: 1.6rem;
		
	}
}
