$bp-small: 650px;
$bp-medium: 1050px;
$bp-large: 1450px;

$pp-black: #232323;
$pp-purple: #851951;
$pp-red: #ee370d;
$pp-blue: #054f7d;
$pp-ltblue: #00a7cf;
$sp-black: #58595b;
$sp-purple: #cbabd1;
$sp-yellow: #efe348;
$sp-blue: #94d6dc;
$sp-ltblue: #a7bbc9;

$tp-purple: #ad4b70;
$tp-red: #f15a51;

$hp-orange: #ee370d;
$hp-blue: #0d4351;
$hp-pink: #d819a7;

$font-light: 400;
$font-heavy: 400;

$spacing: 1em;