.stat-important {

	padding-top: 4em;
	padding-bottom: 4em;
	text-align: center;

	p {
		font-size: 1.3em;
	}

	@media (min-width: $bp-small) {
		padding: 4em 5%;

	}

	@media (min-width: $bp-medium) {
		padding: 4em 20%;
	}

}