.stat-table {

	table {
		border-top: 2px solid rgba(255,255,255,.4);
		margin: 0 auto 1.5em;
		width: 100%;

		@media (min-width: $bp-small) {
			width: 90%;
		}

		@media (min-width: $bp-medium) {
			width: 80%;
		}

	}

	tr {
		border-bottom: 2px solid rgba(255,255,255,.2);
		
	}

	tr:last-of-type {
		border-bottom: 2px solid rgba(255,255,255,.4);

	}

	td {
		padding: .3em 0;
		
	}

	td:last-child {
		text-align: right;

	}


}