section.bg-grad-six.milestone

	h3.section-title Milestone

	h2.section-title The New Brand

	p In fall 2014, the Playwrights’ Center launched an updated brand to better communicate our mission and more deeply engage with the playwrights we serve. We were fortunate to work with KNOCK, Inc.&mdash;longtime supporters of the Center. The first piece to feature our new brand was the 2014-15 season brochure, showcasing our public season and the year’s Core Writers and fellows. The new brand and website were made possible by a grant from the TCG A-ha! program and an anonymous foundation.


section.bg-pp-red.spotlight

	.has-borders

		header.rect
			.name
				h4 The Wilson Typeface
				p Created by Jeremy Mickel
			.headshot
				img(src="img/pwc-brand.jpg")

		p The cornerstone of the new Playwrights’ Center brand is a custom typeface created for us by renowned type designer and friend of the Center <a href="http://www.mckltype.com/" target="_blank">Jeremy Mickel</a>. The typeface is named Wilson, in honor of August Wilson, who was such a big part of the Playwrights’ Center in the 1980s, developing work such as The Piano Lesson here during his 12 years living in St. Paul. The layered headlines, built from a wide variety of font style and color combinations, celebrate the multitude of voices and artists who make up the Playwrights’ Center family.
