section.bg-image-writers.milestone

	h3.section-title Milestone

	h2.section-title The New Brand

	p In fall 2014, the Playwrights’ Center launched an updated brand to better communicate our mission and more deeply engage with the playwrights we serve. We were fortunate to work with KNOCK, Inc.&mdash;longtime supporters of the Center. The first piece to feature our new brand was the 2014-15 season brochure, showcasing our public season and the year’s Core Writers and fellows. The new brand and website were made possible by a grant from the TCG A-ha! program and an anonymous&nbsp;foundation.


section#typeface.bg-pp-red.spotlight

	.has-borders

		header.rect
			.name
				h4 The Wilson Typeface
				p Created by Jeremy Mickel
			.headshot
				img(src="img/pwc-brand.jpg")

		p The cornerstone of the new Playwrights’ Center brand is a custom typeface created for us by renowned type designer and friend of the Center <a href="http://www.mckltype.com/" target="_blank">Jeremy Mickel</a>. The typeface is named Wilson, in honor of August Wilson, who was such a big part of the Playwrights’ Center in the 1980s, developing work such as <em>The Piano Lesson</em> here during his 12 years living in St. Paul. The layered headlines, built from a wide variety of font style and color combinations, celebrate the multitude of voices and artists who make up the Playwrights’&nbsp;Center&nbsp;family.


section.bg-pp-ltblue.top-tweet

	p <a href="https://twitter.com/pwcenter" target="_blank">@pwcenter</a> had 1,665 retweets and favorites on Twitter. Here is our top&nbsp;tweet: 

	<blockquote class="twitter-tweet tw-align-center" lang="en"><p lang="en" dir="ltr">Deadline approaching for Many Voices Program for playwrights of color. Please RT! <a href="https://t.co/Zb337uTru2">https://t.co/Zb337uTru2</a> <a href="https://twitter.com/hashtag/pwopps?src=hash">#pwopps</a> <a href="http://t.co/NuG39OOIsl">pic.twitter.com/NuG39OOIsl</a></p>&mdash; Playwrights&#39; Center (@pwcenter) <a href="https://twitter.com/pwcenter/status/560109346953392128">January 27, 2015</a></blockquote>
	<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


section.bg-grad-two.facebook-section

	p The Center’s <a href="https://www.facebook.com/pwcenter" target="_blank">Facebook page</a> had 2,619 likes. Here is our top&nbsp;post:

	.top-fb-post 

		img(src="img/facebook.jpg")


section.bg-pp-purple.most-read-article

	p <a href="https://pwcenter.org" target="_blank">pwcenter.org</a> had 495,564 page views. This is the most-read article in the <a href="https://pwcenter.org/playwriting-toolkit" target="_blank">Playwriting Toolkit</a>, our online hub for useful, how-to advice for&nbsp;playwrights:

	a(href="https://pwcenter.org/playwriting-toolkit/tips-artistic-directors", target="_blank", class="article-link")

		img(src="img/most-read-article.jpg")


section.bg-image-staff.milestone

	h3.section-title Milestone

	h2.section-title People on the Move

	p The Playwrights’ Center was thrilled to promote Amanda Robbins-Butcher to development manager from her previous position as artistic programs administrator. Amanda’s promotion opened the door for Julia Brown, former office manager, to move into the role of artistic programs administrator and for Alayna Barnes, a recent intern, to return to the Playwrights’ Center and join our family as office manager. We are proud to be an organization that gives people opportunities to grow personally and professionally and look forward to seeing these three talented women take the theater world by&nbsp;storm.


section.bg-grad-two.thank-you-note.full-height.stat-important

	p Thank you to all our donors for helping us build an artistic home for so many talented writers this year and throughout our 43&#8209;year&nbsp;history.

