section#administration.bg-pp-blue

	h2.section-title Administration

	p The Playwrights’ Center ended the 2014-15 fiscal year with an operating surplus for the second year in a row, building on our long-term financial&nbsp;stability. 


section.bg-image-marie-rosetta.stat-important

	p 70% of  the Center’s annual expenses directly support artistic&nbsp;programs.


section.stat-table.bg-pp-ltblue

	h3.section-title Financial snapshot

	table

		tr
			td Total support and revenue
			td $1,270,015
		tr
			td Total expense
			td $1,229,408
		tr
			td Change in net assets
			td $40,607
		tr
			td Net assets&mdash;beginning of year
			td $1,949,518
		tr
			td Net assets&mdash;end of year
			td $1,990,125


section.bg-image-kira.stat-important

	p The Center ended the year with <strong>$712,154 in our operating reserve</strong>, including <strong>$20,000 added in 2014-15</strong>. Of this reserve, approximately $480,000 is restricted for artistic programs, including our playwright fellowships. <strong>We have no long&#8209;term&nbsp;debt</strong>.
		

section#contributed-income.stat-table.bg-pp-blue

	h3.section-title Contributed income

	table

		tr
			td Individual donors
			td $59,181
		tr
			td Board members
			td $21,251
		tr
			td Special events (net)
			td $38,701
		tr
			td Foundations
			td $876,213
		tr
			td Government grants
			td $161,693
		tr
			td Corporations
			td $9,475
		tr.bold
			td Total contributed income
			td $1,166,514


section.stat-important.bg-grad-three 

	p Because we are an arts service organization dedicated to supporting playwrights at all levels of experience and not a producing theater, we rely on contributions from individuals and institutions for approximately 90% of our annual&nbsp;funding. 


section.bg-image-audience.stat-table

	h3.section-title Indivual donors

	table

		tr
			td Individual donors
			td 338
		tr
			td New donors
			td 119


section#board.bg-pp-blue

	p The Playwrights’ Center is led by a dedicated board of 20 directors, who bring their experience and expertise to the table to advance our mission and vision for championing playwrights and new&nbsp;plays. 


section.stat-table.bg-grad-four

	h3.section-title Board of Directors

	ul
		li 20 board members
		li 60% women and 40% men
		li 20% people of color with a goal of reaching 40% to reflect demographics in the Minneapolis&nbsp;metro
		li 6 committees
		li 6 board meetings
		li 100% participation in board giving campaign


section.bg-image-cocked

	p During the 2014-15 fiscal year, the board focused on building a culture of inquiry, developed and approved a new strategic plan in conversation with playwrights and staff, and amended the Center’s bylaws to provide fuller committee representation on the executive committee and establish a bilateral leadership model where the Producing Artistic Director and Managing Director both report to the board and lead the organization&nbsp;together.


section.bg-grad-two.spotlight

	h3.section-title Board Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/sara-nelson.jpg")
			.name
				h4 Sara Nelson
				p Board of Directors

		p <strong>Sara Nelson</strong> joined the Playwrights’ Center board in 2014. She is VP Creative Director for KNOCK, Inc., the agency the Center partnered with on the new brand and website. Asked about what the Playwrights’ Center means to her, she replied, “I recently heard something that stuck with me: The dose of dopamine we receive with each smartphone alert is often followed by a crash in mood. Direct interactions with other people, meanwhile, have been linked to boosts in mood and can even improve long-term health. The collaborative quest for connection, inspiration, and purpose is a powerful thing. It's what keeps the drum beating and shapes the soul. The Playwrights' Center is that soul, that drum for playwrights, and that is why I&nbsp;am&nbsp;here.” 


section.bg-pp-ltblue.milestone

	h3.section-title Milestone

	h2.section-title 2016-18 Strategic Plan

	p The Playwrights’ Center engaged in a strategic planning process to guide our work in the years ahead. Led by Carlo Cuesta, a principal at Creation in Common and former managing director of the Playwrights’ Center, writers, board, and staff came together to establish a set of impact goals, strategic pathways, and actions to imagine the Center forward by deepening the services we offer playwrights and our engagement in the national theater&nbsp;field. 





