section#finance.bg-pp-blue

	h2.section-title Finance

	p The Playwrights’ Center ended the 2014-15 fiscal year with an operating surplus for the second year in a row, building on our long-term financial stability. 


section.stat-important.bg-grad-one

	p 70% of  the Center’s annual expenses directly support artistic programs.


section.stat-table.bg-pp-blue

	h3.section-title Financial snapshot

	table

		tr
			td Total support and revenue
			td $1,270,015
		tr
			td Total expense
			td $1,229,408
		tr
			td Change in net assets
			td $40,607
		tr
			td Net assets&mdash;beginning of year
			td $1,949,518
		tr
			td Net assets&mdash;end of year
			td $1,990,125


section.stat-important.bg-pp-ltblue 

	p The Center ended the year with <strong>$712,154 in our operating reserve</strong>, including <strong>$20,000 added in 2014-15</strong>. Of this reserve, approximately $480,000 is restricted for artistic programs, including our playwright fellowships. <strong>We have no long-term debt</strong>.
		

section.stat-table.bg-pp-blue

	h3.section-title Contributed income

	table

		tr
			td Individual donors
			td $59,181
		tr
			td Board members
			td $21,251
		tr
			td Special events (net)
			td $38,701
		tr
			td Foundations
			td $876,213
		tr
			td Government grants
			td $161,693
		tr
			td Corporations
			td $9,475
		tr.bold
			td Total contributed income
			td $1,166,514


section.stat-important.bg-grad-three 

	p Because we are an arts service organization dedicated to supporting playwrights at all levels of experience and not a producing theater, we rely on contributions from individuals and institutions for approximately 90% of our annual funding. 

