head
	title Playwrights&#039; Center 2014-15 Annual Report
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	meta(name="description", content="Read the story of the Playwrights&#039; Center&#039;s 2014-15 season. We launched a new brand, new website, and new partnership initiative, furthering our mission to serve as an artistic home that keeps playwrights in the spotlight.")
	meta(property="og:site_name", content="Playwrights&#039; Center")
	meta(property="og:type", content="article")
	meta(property="og:url", content="https://pwcenter.org/annual-report/2014-15/")
	meta(property="og:title", content="2014-15 Annual Report")
	meta(property="og:description", content="Read the story of the Playwrights&#039; Center&#039;s 2014-15 season. We launched a new brand, new website, and new partnership initiative, furthering our mission to serve as an artistic home that keeps playwrights in the spotlight.")
	meta(property="og:image", content="https://pwcenter.org/annual-report/2014-15/img/og-image.jpg")
	meta(property="og:image:width", content="1200")
	meta(property="og:image:height", content="1200")


	meta(name="twitter:card", content="summary")
	meta(name="twitter:site", content="@pwcenter")
	meta(name="twitter:title", content="Playwrights&#039; Center 2014-15 Annual Report")
	meta(name="twitter:description", content="Read the story of the Playwrights&#039; Center&#039;s 2014-15 season. We launched a new brand, new website, and new partnership initiative, furthering our mission to serve as an artistic home that keeps playwrights in the spotlight.")
	meta(name="twitter:image", content="https://pwcenter.org/annual-report/2014-15/img/og-image.jpg")

	link(rel="shortcut icon", href="https://pwcenter.org/sites/default/files/favicon.png", type="image/png")
	link(rel="stylesheet", href="fonts/wilson_text/font_text.css")
	link(rel="stylesheet", href="css/global.min.css")
