header.site-header

	.site-branding 

		img(src="svg/pwc-mark.svg", class="pwc-mark")

		.site-subtitle 2014-15 Annual Report

		.menu-toggle MENU

	nav.site-navigation

		ul

			li.menu-toggle Close
			li <a href="#title">Top</a>
			li <a href="#cores-and-fellows">Cores &amp; Fellows</a>
			li <a href="#membership">Membership</a>
			li <a href="#administration">Administration</a>
			li <a href="#contributors">Contributors</a>

