head
	title Playwrights&#039; Center 2014-15 Annual Report
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")

	meta(name="description", content="CONTENT")
	meta(property="og:site_name", content="Playwrights&#039; Center")
	meta(property="og:type", content="article")
	meta(property="og:url", content="http://pwcenter.org/annual-report/2014-15/")
	meta(property="og:title", content="2014-15 Annual Report")
	meta(property="og:description", content="CONTENT")
	meta(property="og:image", content="https://pwcenter.org/annual-report/2014-15/img/og-image.png")

	link(rel="shortcut icon", href="https://pwcenter.org/sites/default/files/favicon.png", type="image/png")
	link(rel="stylesheet", href="fonts/wilson_text/font_text.css")
	link(rel="stylesheet", href="css/global.min.css")
