section#letter.bg-grad-seven

	h4.section-title Letter from Jeremy and Keri

	div.has-borders

		p One of the most important aspects of our work here at the Playwrights’ Center is creating a space where playwrights are leaders and can shape their artistic experiences to their wants and needs. 2014-15 was an important year for the Center during which we rolled out some bold projects in support of this playwright-driven model. 

		p In October 2014, we launched a new brand and website to help us better communicate our mission and more deeply engage with member playwrights around the world through enhanced career-advancement and educational resources.

		p Over the last two years, we met with artistic leaders around and beyond the U.S. to build a network of new-play-producing theaters interested in engaging with the Center and our writers—a group we call the Regulars. This initiative officially launched in summer 2015, advancing our mission to not just develop plays, but to help them find homes on stage.

		p Administratively, we achieved a budget surplus for the second year in a row and completed a three-year strategic plan that will guide our work from now through 2018.

		p And of course, we developed more than 60 new plays and supported 44 fellows, mentees, apprentices, and Core Writers. You can see more numbers below, and also get to know some of the people who make up the Playwrights’ Center family. Thank you for helping us build a true artistic home that keeps playwrights in the spotlight.

		.grid-3

			.grid-item.photo
				img(src="img/keri-and-jeremy.jpg", title="Keri and Jeremy", alt="Keri and Jeremy")

			.grid-item.signature
				img(src="img/signature-jeremy.png", title="Jeremy B. Cohen", alt="Jeremy B. Cohen")
				.signature-name Jeremy B. Cohen
				.signature-title Producing Artistic Director

			.grid-item.signature
				img(src="img/signature-keri.png", title="Keri Kellerman", alt="Keri Kellerman")
				.signature-name Keri Kellerman
				.signature-title Managing Director