section#membership.stat-important.bg-sp-blue

	h2.section-title Membership

	p The Playwrights’ Center’s monthly membership average in 2014-15 was <strong>1,488 members</strong>, a <strong>13% increase</strong> over the previous year.


section.milestone.bg-grad-one

	h3.section-title Milestone

	h2.section-title New Website

	p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 


section.stat-table.bg-pp-ltblue

	h3.section-title Membership programs

	table

		tr
			td Member stage readings
			td 9
		tr
			td One-on-one dramaturgy sessions
			td 20
		tr
			td Multi-week classes
			td 6
		tr
			td Seminars
			td 11
		tr
			td Total class/seminar attendance
			td 146
		tr
			td Open Play sessions
			td 12
		tr
			td Open Play attendance
			td 120


section.bg-grad-two.spotlight

	h3.section-title Member Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/kieran-carroll.jpg")
			.name
				h4 Kieran Carroll
				p PWC Member

		p The Playwrights' Center has members from 11 different countries all over the world, from Belgium to Guam to Tanzania. Fortunately, the Center's membership program allows these members to connect with each other through our website as well as our video conferencing technology. Playwrights' Center member <strong>Kieran Carroll</strong> lives near Melbourne, Australia, and regularly attends monthly Member Open Play gatherings via webcam. With a time difference of 17 hours between Melbourne and Minneapolis, Kieran wakes up early Monday morning to join Member Open Play--it’s still Sunday afternoon back in Minnesota--to share his work and provide feedback to other members. Kieran has also been able to connect with theaters and artists outside of Australia through the Center’s website. After responding to a request for play submissions he found on the Center’s opportunities database, he is getting a production of one of his plays in New York City and will be flying there to be part of the rehearsal process. “For an Australian playwright, a theatrical life outside one's own country can feel a very remote possibility,” Kieran says. “Joining the Playwrights’ Center has given me an enormous amount of new energy and wider scope. Its existence has been the pathway to make me feel my own practice has life elsewhere.” 


section.bg-pp-purple

	h3.section-title New Plays on Campus

	p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 


section.bg-grad-one.spotlight

	h3.section-title NPOC Spotlight

	.has-borders 

		header.rect
			.name
				h4 Carson Kreitzer &amp; Harry Waters Jr.
				p Playwright &amp; Director
			.headshot
				img(src="http://placehold.it/1200x500/ffffff")
			
		p <strong>Stephanie Fleischmann</strong> developed the musical <em>The Secret Lives of Coats</em> when she was a Core Writer at the Playwrights’ Center. She is now an Affiliated Writer, an initiative that keeps former Core Writers and fellows connected to the Center. In this capacity, she returned in 2014 to workshop <em>Coats</em> in partnership with <a href="http://www.redeyetheater.org/" target="_blank">Red Eye Theater</a>, completing the final elements with composer Christina Campanella before its Red Eye premiere. Stephanie says, “Not only did two of <em>The Secret Lives of Coats</em>’ most moving songs get written during that workshop (in response to the discoveries we made in the room with singers, a music director, and our inimitable director, Hayley Finn), not only did the workshop give the performers an invaluable head start on learning the piece and becoming a true ensemble, but also (and most importantly) the workshop was instrumental in getting the <em>The Secret Lives of Coats</em> to where it needed to be in terms of our understanding of its shape, its momentum, its rhythms— that invisible dimension where music and text come together, readying it for a hugely satisfying dive into production mode.”


