section#membership.bg-image-class.stat-important

	h2.section-title Membership

	p The Playwrights’ Center’s monthly membership average in 2014-15 was <strong>1,488 members</strong>, a <strong>13% increase</strong> over the previous year.


section.milestone.bg-grad-one

	h3.section-title Milestone

	h2.section-title New Website

	p In October 2014, we launched a new website with an enhanced member dashboard, built to work great on tablets and phones as well as desktops. The website redesign was based on years of planning, conversations with members, and extensive research by the staff and board. Member playwrights told us they were looking for new ways to connect, for practical tools and resources, and for easier navigation of the list of play submission opportunities. In response, the new site provides members with an experience that will save time and serve them better as playwrights, with advanced search features, bookmarking capabilities, articles offering advice on writing and navigating the industry, and a variety of ways to connect with other members. One member said of the new site, “Just....WOW...Like trading in my very nice serviceable old car for something shiny and new and fast and FUN TO DRIVE...!”


section.stat-table.bg-pp-ltblue

	h3.section-title Membership programs

	table

		tr
			td Member stage readings
			td 9
		tr
			td One-on-one dramaturgy sessions
			td 20
		tr
			td Multi-week classes
			td 6
		tr
			td Seminars
			td 11
		tr
			td Total class/seminar attendance
			td 146
		tr
			td Open Play sessions
			td 12
		tr
			td Open Play attendance
			td 120


section.bg-grad-two.spotlight

	h3.section-title Member Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/kieran-carroll.jpg")
			.name
				h4 Kieran Carroll
				p PWC Member

		p The Playwrights' Center has members from 11 different countries all over the world, from Belgium to Guam to Tanzania. Fortunately, the Center's membership program allows these members to connect with each other through our website as well as our video conferencing technology. Playwrights' Center member <strong>Kieran Carroll</strong> lives near Melbourne, Australia, and regularly attends monthly Member Open Play gatherings via webcam. With a time difference of 17 hours between Melbourne and Minneapolis, Kieran wakes up early Monday morning to join Member Open Play&mdash;it’s still Sunday afternoon back in Minnesota&mdash;to share his work and provide feedback to other members. Kieran has also been able to connect with theaters and artists outside of Australia through the Center’s website. After responding to a request for play submissions he found on the Center’s opportunities database, he is getting a production of one of his plays in New York City and will be flying there to be part of the rehearsal process. “For an Australian playwright, a theatrical life outside one's own country can feel a very remote possibility,” Kieran says. “Joining the Playwrights’ Center has given me an enormous amount of new energy and wider scope. Its existence has been the pathway to make me feel my own practice has life elsewhere.” 


section.bg-pp-purple

	h3.section-title New Plays on Campus

	p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. 


section.bg-grad-one.spotlight

	h3.section-title NPOC Spotlight

	.has-borders 

		header.circle
			.headshot
				img(src="img/harry-waters-carson-kreitzer.jpg")
			.name
				h4 Harry Waters Jr. &amp; Carson Kreitzer  
				p Director &amp; Playwright
			
		p <strong>Harry Waters Jr.</strong> is Chair of the Theatre and Dance Department at Macalester College in St. Paul, MN. As members of the Playwrights’ Center’s New Plays on Campus program, Macalester College can use the Center as a “literary manager at large,” giving students experience with new work and the chance to connect with professional playwrights. Harry was looking for a new play, “something that would appeal to college students, that would have a good issue they could hook into, and that was also going to be challenging for us to do.” The Center paired him with <strong>Carson Kreitzer</strong>, who had the perfect play in progress. <em>green: an elegy to summer</em> tells the story of an eco-commune living in a world that is running out of water. The New Plays on Campus program provided Harry, Carson, musician Peter Morrow, and the students a developmental workshop (paying everyone in the room) and public reading at the Center in May 2015. <em>green</em> premiered at Macalester in October 2015.


