section#supporters.bg-white

	h2.section-title Contributors

	h3 Institutions

	p This activity is made possible by the voters of Minnesota through a Minnesota State Arts Board Operating Support grant, thanks to a legislative appropriation from the arts and cultural herritage fund, and through a grant from the Wells Fargo Foundation Minnesota

	.grid-4

		img(src="img/sponsors/knock_updated.png", title="Knock Inc.", class="grid-item")

		img(src="img/sponsors/mcknight_foundation.png", title="McKnight Foundation", class="grid-item")

		img(src="img/sponsors/andrew_mellon_foundation.png", title="The Andrew W. Mellon Foundation", class="grid-item")

		img(src="img/sponsors/national_endowment_arts.png", title="National Endowment for the Arts", class="grid-item")

		img(src="img/sponsors/wells_fargo.png", title="Wells Fargo", class="grid-item")

		img(src="img/sponsors/mn_state_arts_board.png", title="Minnesota State Arts Board", class="grid-item")

		img(src="img/sponsors/jerome_foundation.png", title="Jerome Foundation", class="grid-item")

		img(src="img/sponsors/ruth_easton_fund.png", title="The Ruth Easton Fund", class="grid-item")

		img(src="img/sponsors/shubert-foundation.png", title="The Shubert Foundation", class="grid-item")

		img(src="img/sponsors/harold_mimi_steinberg.png", title="The Harold and Mimi Steinberg Charitable Trust", class="grid-item")


	h4.pp-purple $25,000+

	ul
		li Jerome Foundation
		li The McKnight Foundation
		li The Andrew W. Mellon Foundation 
		li MetLife/TCG A-ha! Program: Think It, Do It 
		li Minnesota State Arts Board
		li National Endowment for the Arts
		li Ruth Easton Fund of the Edelstein Family Foundation
		li The Shubert Foundation
		li The Harold &amp; Mimi Steinberg Charitable Trust 


	h4.pp-red $10,000-$24,999

	ul
		li General Mills Foundation


	h4.pp-blue $5,000-$9,999

	ul
		li Boss Foundation
		li Piper Jaffray


	h4.pp-ltblue $1,000-$4,999

	ul
		li Dramatists Guild Fund
		li KNOCK, Inc.
		li Carl and Eloise Pohlad Family Foundation
		li Archie D. &amp; Bertha A. Walker Foundation


	h4.pp-purple Up to $999

	ul
		li AmazonSmile
		li The Benevity Community Impact Fund
		li The Medtronic Foundation
		li Western Bank


	h3 Individuals

	h4.pp-purple Playwright Circle Patron ($3,000+)

	ul
		li Anonymous
		li Lillian P. Hall
		li Bruce &amp; Jean Johnson
		li MaryAnn Lippay Kanee
		li Angus &amp; Margaret Wurtele 

	h4.pp-red The Playwright Circle ($1,000+)

	ul
		li Eric Anderson
		li Anonymous
		li Barry Berg &amp; Walter Tambor
		li Toni &amp; Lee Bjorklund
		li Nancy &amp; John Burbidge
		li Jeremy B. Cohen &amp; Michael Elyanow
		li Barbara J. Davis
		li Fran Davis
		li Joe Dowling &amp; Siobhán Cleary
		li Mary Anne Ebert &amp; Paul Stembler
		li Barbara Field
		li John Geelan &amp; Megan Feeney
		li Rochelle Gonzo
		li Elizabeth C. Grant
		li Peggy Gunther
		li Tessa Gunther &amp; Scott Hagg
		li Bill &amp; Jane Johnson
		li Janet Jones &amp; Rob Reul
		li Miriam &amp; Erwin Kelen
		li Tom Knabel
		li Chad &amp; Rafina Larsen
		li Annie Lebedoff
		li Charlie &amp; Anne Leck
		li Helen &amp; Ben Liu
		li Joe Waechter &amp; Jeremy Mickel
		li Jennifer Melin Miller &amp; David Miller
		li David &amp; Leni Moore
		li Sara Nelson
		li James O’Connor
		li Charlie Quimby &amp; Susan Cushman
		li Rachel Routh
		li Joan Schoepke
		li Marcia &amp; John Stout
		li Stephen &amp; Dana Strand


	h4.pp-blue Benefactor ($500-$999)

	ul
		li Diane Berthel
		li Bill Casey
		li Julie Causey
		li Marigrace Deters
		li Mike &amp; Patty Feeney
		li Greg Giles &amp; Teresa West
		li Polly Grose
		li Art &amp; Martha Kaemmer
		li Jan &amp; Les Kaschner
		li Keri Kellerman
		li Susan D. Kinder
		li Mary Kloehn
		li Molly Lehman
		li Ann &amp; Scott McCague
		li Ed McConaghay &amp; Margaret Telfer
		li Patti &amp; Dan O’Leary
		li Steve Pospisil &amp; Brian Gilligan
		li Vickash Ramcharran
		li John Sullivan
		li Emily Anne Tuttle
		li Phil Venton
		li Ruth &amp; Carl Weiner


	h4.pp-ltblue Ambassador ($250-$499)

	ul
		li David &amp; Donna Brown
		li Ginny &amp; Will Craig
		li Mary Dolan
		li Myron I. Frisch &amp; Delores A. Lutz
		li Lynn Gaardsmoe
		li Laura Goering
		li Jack &amp; Ginger Geelan
		li Wayne Graetz
		li Jeffrey Hatcher
		li Alfred Hauwiller
		li Cecily Hines &amp; Thomas Pettus
		li Julie Jensen
		li Faye Knowles &amp; Doug Muirhead
		li Ron Lotz &amp; Randy Hartten
		li Judy Lutter
		li Lucy &amp; Bob Mitchell
		li Mindy Nelson
		li Janice Post-White &amp; Duane White
		li Debra Rae
		li Donette Rico
		li Dan &amp; Margaret Shulman
		li Donald &amp; Linda Silpe
		li Minda Stephens &amp; Kevin Donahue
		li Kesha Tanabe &amp; Sarah Anton
		li Harry Waters Jr.
		li Daniel Weninger


	h4.pp-purple Advocate ($100-$249)

	ul
		li Edward Albee
		li Alecia Anderson &amp; Lisa Kasinkas
		li Marcia Aubineau
		li Edward Ball
		li John Baynes &amp; Karen Spruth
		li Bill Beeman
		li Christopher Bineham
		li Debra Bjornard
		li Lee Blessing &amp; Melanie Marnich
		li dik Bolger
		li Todd Boss
		li George Brant
		li Peter Brosius &amp; Rosanna Staffa
		li Carlyle Brown
		li Bob &amp; Carolyn Bye
		li Nancy Cho
		li Jeanne Corwin
		li Page &amp; Jay Cowles
		li Jaime Davis
		li Jeffrey Davis
		li Christine DeZelar-Tiedman
		li Michael Bigelow Dixon
		li Jack &amp; Camie Eugster
		li Kevin Fenton &amp; Ellen Shaffer
		li Bradford Field
		li Howard &amp; Maxine Field
		li Nancy Finn
		li Peter Fleck &amp; Mary Weber
		li John Fletcher
		li Catherine Flowers
		li Beth Gaede
		li Mark &amp; Jane Gavens
		li Kristin Taylor Geisler
		li Gabriel Greene
		li Beth Hackman
		li Christina Ham
		li Gary Hanson
		li Craig Harris &amp; Candy Kuehn
		li Leah Harvey &amp; Steve Rosholt
		li Pierre Hecker
		li Michelle Hensley
		li Tukaghrie Hollingsworth
		li Char Hovi
		li Anna Igra &amp; Howard Oransky
		li Aditi Brennan Kapil
		li Laura Keller
		li Marj Kelly
		li Patrick Kennedy
		li Stephen Kennedy &amp; Deanna Haunsperger
		li Terence Kilburn
		li Trisha Kirk
		li Carson Kreitzer
		li Neal Kreitzer
		li Andrea Nixon &amp; Paula Lackie
		li Sally &amp; Jonathan Lebedoff
		li Archibald &amp; Edith Leyasmeyer
		li Perry Lueders
		li Anne Mahle &amp; David McCarthy
		li Lisa &amp; Meghan Maloney-Vinz
		li Jeff Masco
		li Timothy Mason
		li Sam &amp; Patty McCullough
		li William McTeer
		li Norman &amp; Harriet Meyers
		li Richard A. Nathan
		li Wendy Nelson
		li Michael Neuharth
		li Mary Ann Nord &amp; Chris Reeves
		li Tonja Orr
		li Jim &amp; Susan Peterson
		li Nathan &amp; Jessica Perez
		li Michelle Pett &amp; Eric Britt
		li Walter Pickhardt &amp; Sandra Resnick
		li Janine Pingel
		li Sheila Plunkett
		li Denise Prosek
		li Peter Quale &amp; Michelle Woster
		li Lawrence Redmond
		li Steve &amp; Sarah Richardson
		li Linda Rieth
		li Julie Robbins
		li Michelle Roby
		li Charlene K. Roise
		li Patrick Sadler
		li Ralph Schnorr
		li Shelley Schreffler
		li Emily Seiber &amp; Ian Jura-Baum
		li James Sheeley
		li Margaret &amp; Davis Shryer
		li Meg &amp; Steve Swanson
		li Bob &amp; Carolyn Thomas
		li Ms. Helene V. Turnbull
		li William Underwood &
		li Christopher Everett
		li Gene Valek
		li Harry Walsh
		li Melinda Ward
		li Frances &amp; Frank Wilkinson
		li Lori-Anne Williams
		li Penny &amp; Jim Woster
		li Nancy Zingale &amp; Bill Flanigan


	h4.pp-red Supporter ($1-$99)

	ul
		li Elissa Adams
		li Kim Adams &amp; Scott Johnson
		li Kirsten Aligada
		li Trista Baldwin
		li Janet Barnes
		li Carol Barnett
		li Patricia Barrier
		li Vince &amp; Susan Barton
		li Stacy Beckwith
		li Ann Bennion
		li Zak Berkman
		li Barbra Berlovitz
		li Ann M. Biggar
		li Raye &amp; Candace Barrett Birk
		li DyShaun Muhammad &
		li Jeremy Black
		li li Julia Brown
		li Robert P. &amp; Debbie A. Brown
		li Carole Bruns
		li K. Jason Bryan
		li John Bulov
		li Joy &amp; Ron Carlson
		li John Cerra
		li Sarah &amp; Matt Chaplin
		li Jeff Clement
		li Maxwell Collyard
		li Susan Conley De Castro
		li Craig Corsi
		li Becky Dale
		li Ryan Dallas
		li Philip Dawkins
		li Maryrose Dolezal
		li Joel Doty
		li Marilyn J. Doyle
		li Erika &amp; Nathan Eklund
		li Kent &amp; Katherine Eklund
		li Scott Elyanow
		li Steven Epp &amp; Nanci Olesen
		li Hayley Finn
		li Mary Grace Flannery
		li Karen Foley
		li Jessica Franken
		li Seymour &amp; Annette Gavens
		li Lois &amp; Larry Gibson
		li Ain Gordon
		li Nathan Grawe
		li Kelly Grosklags
		li Doug &amp; Sheila Grow
		li Meg Haley
		li Deena Hanke
		li Karen Hartman
		li Azalea Henao
		li Harriet Horwitz
		li Matthew Hoven
		li Sarah Howes
		li Mike Iacovone
		li Laurice Jamieson
		li Julia Jenson
		li Marlys Johnson
		li Catherine Jura
		li Bobbi &amp; Louis Kaplan
		li Shirley &amp; Arnold Kaplan
		li Mervyn Kaufman
		li Anne-Lynn Kettles
		li Adeeb Khalid &amp; Cheryl Duncan
		li Mary Louise Klas
		li Brad &amp; Toni Knorr
		li Amanda Knutson
		li Adam Kraar
		li Chelsea Lau
		li Ruth Lauritzen
		li Sigrun Leonhard
		li Seth Levin &amp; Mia Nosanow
		li David Loewy
		li Michael Margulies
		li Ruth &amp; Greg Mason
		li Ali Matteau
		li Mary Jane Malendez
		li Susan Miller
		li Winter Miller
		li Janis Moebus
		li Sarah Mollet Staiger
		li Margaret Murphy &amp; Steve Olin
		li Sarah Myers
		li Dan O’Brien
		li Catilin O’Connell
		li Irve Dell
		li Jamie Pachino
		li Lauren Pagel
		li Bruce Pomerantz
		li Allan Provost
		li Noel Raymond &amp; Amy Finch
		li Sheila Regan
		li Pauline Boss &amp; Dudley Riggs
		li Amanda Robbins-Butcher
		li Peter Rothstein
		li Megan Rozowski
		li Andrew Saito
		li Susan Schaefer
		li Reed Schulke
		li Nancy Simon
		li Mat Smart
		li Carolyn Smith
		li Lisa Solan
		li Don Sommers &amp; Brad Shark
		li Karla Sorenson
		li Philip Spensley
		li Danielle St. Germain-Gordon
		li Joshua Stallings
		li Cory Hinkle &amp; Victoria Stewart
		li Eric “Pogi“ Sumangil
		li Helen Taylor
		li Katie Tharp
		li Louy Theeuwen
		li Patrick &amp; Martha Tilton
		li Elsa Vega Perez
		li Brigitte Viellieu-Davis
		li Lisa Weaver
		li Daniel Weiner &amp; Carl Roller
		li Carl Weiner
		li Judy Wendt
		li Bethany Whitehead
		li Stephanie Yankwitt
		li Megan Yount
		li Michelle Zwicky


	h3 Event and In-Kind Support

	.grid-3 

		img(src="img/sponsors/knock_logo_white_updated.png", title="Knock Inc.", class="grid-item")

		img(src="img/sponsors/bolger.png", title="Bolger", class="grid-item")

	ul
		li Biota Landscape Design + Build
		li Bolger Vision Beyond Print
		li Bryant Graphics
		li Concept Marketing Groups and Blue Nile Restaurant &amp; Lounge
		li Guthrie Theater
		li Hola Arepa
		li KNOCK, Inc.
		li Peace Coffee
		li Pillsbury House Theatre
		li Pizza Luce
		li Solo Vino
		li Zipps Liquors


