section(id="title", class="full")

  .title-inside

    .logo-wrapper

      img(src="svg/pwc-logo.svg", class="pwc-logo")

    .subtitle 2014-15 Annual Report
  
  a(href="#letter")
    .scroll-message Scroll to read report &darr;
